body {
    display: flex;
    flex-direction: column;
}
h1 {
    color:black;
}
.horizontal { 
    display:flex;
    flex-direction: row;
}
.horizontal div {
    padding: 35px;
}
*{
    color: black;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: #FCF3CF ;
    height: 120px;
    /*background: #D8E3AB url(logo.png) no-repeat 5% 50%;*/
}
.main {
    display: flex;
    flex-direction: row;
}
.main .content {
    width: 100%;
}
.main .content .article { 
    width: 600px;
    margin: 20px auto;
}
.article p {
    margin-bottom: 20px;
}
.title {
    width: 100%;
    font-size: 28px;
    padding-top: 0px;
    text-align: center;
}
.logo{
    padding: 0px 10px;
}
#navbar {
    border: 1px solid black;
    height: 35%;
    margin: 0;
    padding: 0;
    width: 200px;
}
#navbar: div {
    padding: 30px 30px;
}
#navbar:hover {
    background-color: #FCF3CF;
    border: 1px solid black;
}
.rg:hover {
    color: blue;
}
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:#FCF3CF;
}
