h1 {
    color:black;
}

.horizontal { 
    display:flex;
    flex-direction: row;
}
.horizontal div {
    padding: 20px;
    border: 1px solid #333;
}
header{
    width: 100%;
    background-color: lightgreen;
    height: 120px;
}