h1 {
    color:black;
}

.horizontal { 
    display:flex;
    flex-direction: row;
}
.horizontal div {
    padding: 20px;
    border: 1px solid #333;
}
*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
header{
    width: 100%;
    background: #d8e3ab;
    height: 120px;
    background: #D8E3AB url(logo.png) no-repeat 5% 50%;
}
.title {
    font-size: 30px;
    padding-top: 0px;
    text-align: center;
}