* {
    box-sizing: border-box;
}

.add-btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: 0;
}

.todo-input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
} 
.panel {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.panel:after {
    content: "";
    display: table;
    clear: both;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

.delete {
    position: absolute;
    right: 0;
    border: 0px;
    background-color: #eee;
    cursor: pointer;
}
 
.items {
    list-style-type: none;
}

.li-style:hover {
    background-color: #ddd;
}

.li-style:nth-child(odd) {
    background:#f9f9f9;
}

.done {
    position: absolute;
    left: 0;
    padding: 2px;
    border: 0px;
    cursor: pointer;
}  
.cheaked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }