#todo .add-btn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: 0;
}

#todo .todo-input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

#todo .panel {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

#todo .panel:after {
    content: "";
    display: table;
    clear: both;
}

#todo ul {
    padding-inline-start: unset;
}

#todo ul li {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding: 0 8px 0 0;
    background: #eee;
    font-size: 18px;
    vertical-align: middle;
    line-height: 40px;
    transition: 0.2s;
    user-select: none;
}

#todo ul li.checked {
    color: #666;
    text-decoration: line-through;
}

#todo ul li .done {
    padding: 8px 4px;
    min-width: 32px;
    border: 0;
    cursor: pointer;
}

#todo ul li .done img {
    display: none;
}

#todo ul li.checked .done img {
    display: block;
}

#todo .delete {
    padding: 8px 4px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

#todo .items {
    list-style-type: none;
}

#todo .todo-item:hover {
    background-color: #ddd;
}

#todo .item-text {
    flex-grow: 1;
}
